/*
Convencion / Estandar 
1- Posicionamiento
2- Modelo de caja (Box model)
3- Tipografia
4- Temas visuales
5- Otros
*/
:root {
  /* colores */
  --bitcoin-principal: #F7931A ;
  --bitcoin-soft: #FFE9D5 ;
  --secondary-color: #1a9af7 ;
  --secondary-soft: #E7F5FF ;
  --warm-dark: #201E1C ;
  --black: #282623 ;
  --medium-color: #BABABA  ;
  --off-white: #faf8f7 ;
  --white: #FFF ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  align-self: center;
  text-align: center;
}

.header--title-container h1 {
  font-size: 2.4rem ;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--bitcoin-soft);
}

.header--title-container .header--button {
  position: absolute;
  top: calc(100% - 24px);
	left: calc(50% - 114.5px);
  min-width: 229px;
  height: 48px;
  padding-top: 15px;
  background-color: var(--off-white);
  /*sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../assets/icons/down-arrow.svg');
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

/* -------------- tablas  */

.main-exchange-container {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
.backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px auto;
  background-image: url('../assets/img/Bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container--title{
  width: 100%;
  min-width: 288px;
  max-width: 900px;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto;
}
.main-exchange-container--title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 20px;
  color: var(--black);
}
.main-exchange-container--title p{
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: #757575;
}

/* ::-webkit-meter-even-less-good-value slider  */

.exchange-slider {
  display: flex;
  /* width: auto; */
  padding: 30px;
  margin: auto 30px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.main-tables-container {
  scroll-snap-align: center;
  width: 95%;
  padding: 0 10px;
  min-width: 270px;
  max-width: 600px;
}
.main-exchange-container .secondary {
  padding-right: 20px;
}

.main-tables-container h2 {
  font-size: 1.8rem;
  color: var(--bitcoin-principal);
  padding-right: 30%;
  margin-bottom: 10px;
}
.secondary h2 {
  color: var(--secondary-color);
}
.grid-coins-container {
  display: grid;
  grid-template: repeat(4, 1fr)/ 1fr 1fr;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--white);
  font-size: 1.6rem;
  border-radius: 15px;
}
.item-grid {
  text-align: left;
  padding: 8px 0;
  padding-left: 20%;
  font-family: 'inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid var(--off-white);
}
.coin {
  font-size: 1.6rem;
  font-weight: 500;
  color: #757575;
}
.item-grid span {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 10%;
  background-image: url('../assets/icons/trending-down.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.bull span {
  background-image: url('../assets/icons/trending-up.svg');
}
.row-change {
  /* display: inline-block; */
  width: 10px;
  height: 15px;
  background-image: url('../assets/icons/right-arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 80px;
  left: 43%;
}
.row-left {
  background-image: url('../assets/icons/left-arrow.svg');
  left: -43%;
}

.upgrade-date {
  width: 70%;
  height: auto;
  margin: 15px auto;
  margin-bottom: 50px;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: 'inter', sans-serif;
  background-color: var(--bitcoin-soft);
  color: var(--warm-dark);
}
.upgrade-comisiones {
  background-color: var(--secondary-soft);
}

/* ------- seccion de beneficios */

.main-product-detail {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-bottom: 20px;
  background-color: var(--warm-dark);
  color: var(--white);
  justify-content: center;
  text-align: center;
}
.main-product-detail > span {
  display: inline-block;
  position: absolute;
  min-width: 46px;
  min-height: 25px;
  margin-top: -20px;
  background-image: url('../assets/icons/batata.svg');
  background-repeat: no-repeat;
  background-position: center;
  right: calc(50% - 23px);
}
.main-product-detail  div {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
}
.main-product-detail div h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 15px;
}
.main-product-detail div p {
  font-size: 1.4rem;
  color: var(--medium-color);
  margin-bottom: 25px;
}

/* -------------product cards  */

.product-detail--card {
  width: 100%;
  min-width: 228px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  text-align: left;
}
.product-card--icon {
  display: inline-block;
  width: 100%;
  min-width: 20px;
  max-width: 30px;
  min-height: 25px;
  max-height: 30px;
  margin-bottom: 5px;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}

.clock {
  background-image: url('../assets/icons/clock.svg');
}
.eye {
  background-image: url('../assets/icons/eye.svg');
}
.money {
  background-image: url('../assets/icons/dollar-sign.svg');
}
.check {
  background-image: url('../assets/icons/check-circle.svg');
}
.product-card--title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.product-card--body {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--medium-color);
}

/* jocker section  */

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url('../assets/img/bitcoinbaby2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--white);
}

 /* -------- titulo de planes  */

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding: 60px 0;
  text-align: center;
}
.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 40px;
}
.plans--title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--black);
}
.plans--title p {
  padding-top: 30px;
  padding-bottom: ;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

/* ----------- plan cards  */

.plans-container--slider {
  display: flex;
  /* gap: 25px; */
  padding-left: 80px;
  height: 316px;
  margin-left: 30px;
  margin-right: 30px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 100%;
  min-width: 190px;
  max-width: 280px;
  height: 250px;
  margin: 50px 10px 0 10px;
  padding: 0 15px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 60, 0.16);
}
.space-for-last-card {
  width: 80px;
  height: auto;
  padding: 30px;
}
.head-card-plan {
  width: 100px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 8px;
  position: absolute;
  border-radius: 8px;
  background-color: var(--bitcoin-principal);
  color: var(--white);
  left: calc(50% - 50px);
  bottom: calc(100% - 16px);
}
.month-plan, .medium-plan {
  background-color: #bce1fc;
  color: var(--warm-dark);
}

.plan-info-container {
  padding: 30px 0 20px;
}
.plan-info-container h3 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
}
.plan-card--price {
  position: relative;
  font-size: 5.2rem;
  line-height: 6.3rem;
  font-weight: 700;
  font-family: 'Inter' , sans-serif;
}
.plan-card--price sup {
  position: absolute;
  left: calc(50% - 42px);
  bottom: 16px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Inter' , sans-serif;
}
.plan-card--saving {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: #757575;
  padding: 5px 0 ;
}
.plan-card--cta {
  min-width: 150px;
  height: auto;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid var(--bitcoin-principal);
  border-radius: 5px;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--off-white);
}
.plan-card--cta span {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url('../assets/icons/orange-right-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  top: 13px;
  right: 13px;
}

/* ------ footer  */

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-principal);
  /* justify-content: space-around; */
}
footer section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
  color: var(--bitcoin-soft);
}
.social-media li {
  margin: 10px 0;
}
.social-media a {
  text-decoration: none;
  color: var(--bitcoin-soft);
}