/*
Convencion / Estandar 
1- Posicionamiento
2- Modelo de caja (Box model)
3- Tipografia
4- Temas visuales
5- Otros
*/
:root {
  /* colores */
  --bitcoin-principal: #F7931A ;
  --bitcoin-soft: #FFE9D5 ;
  --secondary-color: #1a9af7 ;
  --secondary-soft: #E7F5FF ;
  --warm-dark: #201E1C ;
  --black: #282623 ;
  --medium-color: #BABABA  ;
  --off-white: #faf8f7 ;
  --white: #FFF ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  align-self: center;
  text-align: center;
}

.header--title-container h1 {
  font-size: 2.4rem ;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--bitcoin-soft);
}

.header--title-container .header--button {
  position: absolute;
  top: calc(100% - 24px);
	left: calc(50% - 114.5px);
  width: 229px;
  height: 48px;
  padding-top: 15px;
  background-color: var(--off-white);
  /*sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../assets/icons/down-arrow.svg');
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
.backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px auto;
  background-image: url('../assets/img/Bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container--title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 20px;
  color: var(--black);
}
.main-exchange-container--title p{
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: #757575;
}
.main-tables-container h2 {
  font-size: 1.8rem;
  color: var(--bitcoin-principal);
  padding-right: 30%;
  margin-bottom: 10px;
}
.grid-coins-container {
  display: grid;
  grid-template: repeat(4, 1fr)/ 1fr 1fr;
  width: 75%;
  margin: 0 auto;
  background-color: var(--white);
  font-size: 1.6rem;
  border-radius: 15px;
}
.item-grid {
  text-align: left;
  padding: 8px 0;
  padding-left: 20%;
  font-family: 'inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid var(--off-white);
}
.coin {
  font-size: 1.6rem;
  font-weight: 500;
  color: #757575;
}
.item-grid span {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 10%;
  background-image: url('../assets/icons/trending-down.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.bull span {
  background-image: url('../assets/icons/trending-up.svg');
}
.row-rigth-change {
  display: inline-block;
  width: 10px;
  height: 15px;
  background-image: url('../assets/icons/right-arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 100px;
  left: 140px;
}
.upgrade-date {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: 'inter', sans-serif;
  background-color: var(--bitcoin-soft);
  color: var(--warm-dark);
}
